/* цвет вторичного текста #212121;*/
/* цвет основного текста #757575; */
/* цвет акцент #2196F3; */
/* Черный #000000 */
/* Белый #FFFFFF; */
/* контакты в подвале rgba(255, 255, 255, 0.6); */
/* основной цвет фона #E5E5E5; */
/* вторичный цвет фона #F5F4FA;*/
/* цвет фона подвала и банера #2F303A; */
:root {
  --hover-color: #2196f3;
  --text-color: #757575;
  --main-background-color: #ffffff;
  --logo-color: #000000;
  --title-color: #212121;
  --color-white: #ffffff;
  --banner-background-color: #2f303a;
  --commands-background-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --main-family: 'Roboto', sans-serif;
  --logo-faily: 'Raleway', sans-serif;
}
/* -------------------------COMPONENTS------------------------- */
body {
  font-family: var(--main-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--main-background-color);
}
.list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* -------------------------/COMPONENTS------------------------- */

/* -------------------------HEADER------------------------------ */
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

/* ------site logo------ */
.logo {
  font-family: var(--logo-faily);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.logo span {
  color: var(--hover-color);
}

/* ------site nav------*/
.site-nav .link {
  color: var(--title-color);
}

.site-nav .link,
.contacts-nav a {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:active,
.site-nav .link:focus {
  color: var(--hover-color);
}

.site-nav .link-visited {
  color: var(--hover-color);
}

/* -----style contacts----- */
.contacts-nav a {
  color: var(--text-color);
}

.contacts-nav a:hover,
.contacts-nav a:active,
.contacts-nav a:focus {
  color: var(--hover-color);
}

/* -------------------------/HEADER------------------------------ */

/* -------------------------STUDIO------------------------------- */
/* -----banner----- */
.banner {
  background-color: var(--banner-background-color);
  text-align: center;
  margin-bottom: 94px;
  outline: 2px solid tomato;
}
.banner-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-top: 0;
  margin-bottom: 30px;
}

.banner-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--hover-color);
}

/* -----advantages (преимущества)----- */
.advantages {
  margin-bottom: 94px;
}

.advantages h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-top: 0;
}
.advantages p {
  color: var(--text-color);
  margin-bottom: 0;
}

/* -----чем занимаемся----- */
.lessons {
  margin-bottom: 94px;
}

.lessons-title,
.comands-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-top: 0;
  margin-bottom: 50px;
}

/* -----commands (команда)----- */
.comands {
  background-color: var(--commands-background-color);
  padding-bottom: 94px;
  padding-top: 94px;
  outline: 2px solid tomato;
}
.comands h3 {
  font-weight: 500;
  color: var(--title-color);
}
.comands h3,
.comands p {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
.comands img {
  margin-bottom: 30px;
}
.comands .subtitle {
  margin-bottom: 10px;
}
/* -------------------------/STUDIO------------------------------- */

/* ------------------------PORTFOLIO------------------------------ */
/* ---------portfolio button--------- */
.portfolio .portfolio-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--commands-background-color);
}
.portfolio .portfolio-btn:hover,
.portfolio .portfolio-btn:active,
.portfolio .portfolio-btn:focus {
  background-color: var(--hover-color);
  color: var(--color-white);
}
/* ---------portfolio list ---------*/
.portfolio .portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.portfolio .portfolio-list-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* ------------------------/PORTFOLIO------------------------------ */

/* ----------------------------FOOTER---------------------------- */
.footer {
  background-color: var(--banner-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo-white {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--color-white);
}

.footer .address {
  font-style: normal;
  color: var(--color-white);
  margin-bottom: 9px;
}

.footer-contacts li:first-child {
  margin-bottom: 9px;
  display: inline-block;
}

.footer-contacts a {
  color: var(--footer-contacts-color);
}
.footer-contacts a:hover,
.footer-contacts a:focus,
.footer-contacts a:visited {
  color: var(--hover-color);
  /* ----------------------------FOOTER--------------------------- */
}
